<h1>Book List</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Checked Out</th>
      <th>Return</th>
      <th>Issued Date</th>
      <th>Due Date</th>

    </tr>
  </thead>
  <tbody>
  <% if @books.present? %>
    <% @books.each do |book| %>
      <tr>
        <td><%= book.title %></td>
        <td><%= book.author %></td>
        <td><%= book.checked_out ? 'Yes' : 'No' %></td>
        <td>
          <% if book.checked_out %>
            <%= link_to "Return", return_book_issue_path(book.id), method: :put, data: { confirm: 'Are you sure you want to return this book?' }, id: "return_#{book.id}"%>
         <% else %>
            N/A
          <% end %>
      </td>
        <td><%= book.book_issue&.issued_date %></td>
        <td><%= book.book_issue&.due_date %></td>
      </tr>
    <% end %>
  <% else %>
    <tr>
      <td colspan="3">No books found.</td>
    </tr>
  <% end %>
</tbody>
</table>