<% if @book.errors.any? %>
  <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-2 rounded relative">
    <ul>
      <% @book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<h1>New Book</h1>
<%= form_for @book do |f| %>
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :author %>
    <%= f.text_field :author %>
  </div>
  <div class="actions">
    <%= f.submit 'Upload Book' %>
  </div>
<% end %>
