<h1>Check Out a Book</h1>

<%= form_for @book_issue do |f| %>
  <% if @book_issue.errors.any? %>
    <div class="alert alert-danger">
      <ul>
        <% @book_issue.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Issued_to %>
    <%= f.text_field :patron_name %>
  </div>
  <div class="field">
    <%= f.label :book_id %>
    <%= f.collection_select(:book_id, Book.where(checked_out: false), :id, :title) %>
  </div>
  <div class="actions">
    <%= f.submit 'Check Out' %>
  </div>
<% end %>
